*{
    margin: 0;
    padding:0;
}
body{
    height: 100vw;
}
a{
    font-size: 1rem;
}
a:link {
    background-color: aqua;
    color: darkslateblue;
}
a:hover {
color:  rgb(22, 22, 24);
}
a:active {
color: red;
}
a:visited {
    color: rgb(157, 0, 255);
}
.contendor {
    margin: 10px auto;
    width: 80%;
}
ul {
    text-align: center;
}
ul li {
    border: 1px solid black;
    list-style-type: none;
    margin: 2px;
    padding: 10px;
    font-size: 2rem;
}
/* ul li:hover {
    background-color: cadetblue;
    color: brown;
} */
li:nth-child(6) {
    background-color: darkgoldenrod;
}
li:first-child {
    background-color: orange;
}
li:last-child{
    background-color: blue;
}
h2 {
    text-align: center;
}
h1 { 
    text-align: center;
}
h1::before {
    content: " $";
    color: red;
}
h1::after {
    content: " .00";
    color: blue;
}