.contenedor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, 25vh);
    grid-template-areas: 
    "espacio1 espacio1 espacio1"
    "espacio2 espacio2 espacio2"
    "espacio3 espacio4 espacio5"
    "espacio6 espacio6 espacio6"
    ;
    gap: 1rem;
}

.encabezado{
    grid-area: espacio1;
    background-color: tomato;
    display: flex;
    
}
.encabezado a img{
width: 10%;
}
.encabezado nav{
    width: 100%;
}
.encabezado nav ul{
    display: flex;
   justify-content: space-around;
    margin: auto;
    background-color: blue;
}

.encabezado nav ul li a{
text-decoration: none;

}

.encabezado nav ul li{
    list-style-type: none;
    }

.principal{
    grid-area: espacio2;
    background-color: tomato;
}
.descripcion{
    grid-area: espacio5;
    background-color: tomato;
}
.imagenes{
    grid-area: espacio4;
    background-color: tomato;
}
.banner{
    grid-area: espacio3;
    background-color: tomato;
}
.informacion{
    grid-area: espacio6;
    background-color: tomato;
}